### Python's Introduction

<h2>What is Python?</h2>

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

<h5>It is used for:</h5>

<ul>
    <li>web development (server-side)</li>
    <li>software development</li>
    <li>mathematics</li>
    <li>system scripting.</li>
</ul>

<h2>Python Syntax compared to other programming languages</h2>
<ul>
    <li>Python was designed for readability, and has some similarities to the English language with influence from mathematics.</li>
    <li>Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.</li>
    <li>Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.</li>
</ul>

In [2]:
## To print anything on screen
print('anything')

anything

### Escape sequences

In Python, escape sequences are indicated by a backslash (\).

The most important one may be \n which indicates a new line.

In [3]:
print('Line A \nLine B')

Line A
Line B

<b>Escape sequences in Python:</b>

<Table style="width:100%">
    <tr>
        <th>Escape sequence</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>\’</td>
        <td>Single quote</td>
    </tr>
    <tr>
        <td>\”</td>
        <td>Double quote</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>Backslash</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>New line</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Tab</td>
    </tr>
    <tr>
        <td>\b</td>
        <td>Backspace</td>
    </tr>
</Table>

In [4]:
print('I\'m Haseeb')

I'm Haseeb

In [5]:
print('I'm Haseeb')

SyntaxError: unterminated string literal (detected at line 1) (2563465567.py, line 1)

### Raw String

Used to force escape sequences to behave like normal text

In [8]:
print(r'Line A \nLine B')

Line A \nLine B

### Python as a Calculator

print() function can also used for calculation

In [9]:
print(2+3*4)

14

<b>Operators in python:</b>

<Table style="width:100%">
    <tr>
        <th>Operators</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>+</td>
        <td>Addition</td>
        <td>print(2+3): 5</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Subtraction</td>
        <td>print(2-3): -1</td>
    </tr>
    <tr>
        <td>*</td>
        <td>Multiplication</td>
        <td>print(2*3): 6</td>
    </tr>
    <tr>
        <td>/</td>
        <td>Float Division</td>
        <td>print(4/2): 2.0</td>
    </tr>
    <tr>
        <td>//</td>
        <td>Integer Division</td>
        <td>print(4//2): 2</td>
    </tr>
    <tr>
        <td>%</td>
        <td>Modulo, it gives reminder</td>
        <td>print(6%2): 0</td>
    </tr>
    <tr>
        <td>**</td>
        <td>Exponent</td>
        <td>print(2**3): 8</td>
    </tr>
</Table>

<b>Associativity of Python Operators</b>

Associativity is the order in which an expression is evaluated that has multiple operators of the same precedence. For example, multiplication and division have the same precedence.

<b>Forexample:</b>

<b>Precedence rules in Python:</b>

<Table style="width:100%">
    <tr>
        <th>Operators</th>
        <th>Precedence and Associativity rule</th>
    </tr>
    <tr>
        <td>Parenthesis</td>
        <td>Highest</td>
    </tr>
    <tr>
        <td>Exponent</td>
        <td>Right to left</td>
    </tr>
    <tr>
        <td>*, /, //, %</td>
        <td>Left to Right</td>
    </tr>
    <tr>
        <td>+, -</td>
        <td>Left to Right</td>
    </tr>
</Table>

In [10]:
print((2+3)*5/2%6)

0.5

In above Example precedence is

1: (parenthesis)

2: For remaining operators precedence level is same, so we will follow associativity rule for these operators which is (left to right)

In [11]:
print(2**3**4)

2417851639229258349412352

Now As Exponent’s associativity is (Right to left) so 

we will solve it as given below

3**4

2**81

In [12]:
## variable declaration
name = 'Ali'
print(name)

Ali

In [13]:
## Multiple variables declaration in Single line
name, age = 'Ali',27
print(name)
print(age)

Ali
27

<b>Dynamic Programing Language</b>

Python is DPL because in this Language value of variable can change at each level

Also there is no need to declare variable type because it is auto declared according to the input value

In [14]:
Number_1 = 2             # variable type is integer
print(Number_1)
print(type(Number_1))

2
<class 'int'>

In [15]:
Number_1 = 'fifty'        # variable type is String
print(Number_1)
print(type(Number_1))

fifty
<class 'str'>

<h2>Rules for Python's variables Declaration:</h2>
<ul>
    <li>A variable name must start with a letter or the underscore character</li>
    <li>A variable name cannot start with a number</li>
    <li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>
    <li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>
<ul>

<h2>Naming Conventions for Python's variables Declaration:</h2>
<ul>
    <li>Python Uses Snake case</li>

<ul>

In [16]:
## Input from User
name = input('Enter name  : ')
print(name)

Enter name  :  ali

ali

<h2> Variable Types </h2>
<ul>
    <li>String-----> 'Hellow'</li>
    <li>Integer----> 27</li>
    <li>Float------> 27.1</li>
</ul>

In [17]:
## Split
# The split() method splits a string into a list.
# You can specify the separator, default separator is any whitespace.

name, age = input('Enter name and age, seprated by comma(,) : ').split(',')

Enter name and age, seprated by comma(,) :  ali,29

In [18]:
print(name)

ali

In [20]:
print(age)

29

In [21]:
## String Formatting
print(f'hellow {name} your age is {age}')

hellow ali your age is 29

In [ ]:
pip install jupyterthemes

In [ ]:
pip install --upgrade jupyterthemes

In [ ]:
jt -l

In [ ]:
!jt -t monokai